

<div class="main_component div-flex">
    <mat-card class="div-flex">
        <mat-card-header>
            <mat-card-title>Elérhetőségek</mat-card-title>
            <mat-card-subtitle>Hegedűs Zénó festőművész</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <p>
                A <b>HegedusArt</b> egy online felület, ahol Hegedűs Zénó festőművész olajfestményeit lehet megtekiteni illetve megvenni.
            </p>
            <p><mat-icon>person</mat-icon>Hegedűs Zénó</p>
            <p><mat-icon>call</mat-icon> +36 12 345 6789 </p>
            <p><mat-icon>email</mat-icon> hegedus@gmail.com</p>
            <p><mat-icon>location_on</mat-icon>Békéscsaba</p>
        </mat-card-content>
    </mat-card>
</div>