a {
    text-decoration: none;
    color: #95382e
}

a:hover, a:active {
    color: rgb(237, 10, 10);
    font-size: 22px;
    transition: 500ms;
    transition-timing-function: ease-out;
}

.navigation-items{
    display: grid;
    place-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-title{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    color: #95382e;
    font-weight: bold;
  }

mat-sidenav{
    width: 200px;
    background-color: beige;
}
.toolbar{
    color: #95382e;
}

mat-toolbar{
    background-color: beige;
}
