/* details.component.css */

.main-component {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Use min-height for responsiveness */
}

mat-card {
  width: 80%;
  max-width: 1000px; /* Adjust the maximum width as needed */
}

.details-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.image-section {
  width: 100%; /* Take up full width on smaller screens */
}

/* Add some additional styling for a modern look */
.product-name {
  font-size: 30px; /* Increase heading font size */
  color: #95382e; /* Set heading color to a blue shade */

}

.product-details {
  width: 100%; /* Make it fill the entire width */
  max-width: 500px; /* Set a maximum width for larger screens */
  text-align: left;
  padding: 20px;
  font-size: 18px; /* Adjust the font size as needed */
  font-family: 'Roboto', sans-serif; /* Use a modern font family */
  line-height: 1.5; /* Improve readability with increased line height */
  color: black; /* Set the text color to a dark shade for better contrast */
  margin-top: 10%;
}

/* Add some additional styling for a modern look */
.product-details h3 {
  font-size: 30px; /* Increase heading font size */
  color: #95382e; /* Set heading color to a blue shade */
}

.product-details h4 {
  font-size: 25px; /* Increase subheading font size */
  color: #555; /* Set subheading color to a darker gray */
}

/* Apply styles to <p> tags within .product-details */
.product-details p {
  font-size: 20px; /* Adjust paragraph font size */
  color: black; /* Set paragraph text color to a slightly lighter gray */
}

/* Adjustments for smaller screens */
@media screen and (min-width: 600px) {
  .image-section,
  .product-details {
    width: 50%;
    
  }
}
.image-container {
  margin-bottom: 10px;
}

img {
  max-width: 100%; /* Set a maximum width to ensure responsiveness */
  height: auto;
  display: block;
  margin: auto;
}
